@model Hotel_Management_Project.Models.OwnerAccount

@{
    ViewBag.Title = "IndexOwner";
}


@Html.Raw(ViewBag.ErrorMessage)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        <h3 style="color:white" ; align="center" ;>Owner Login</h3>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.ownerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ownerEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ownerEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" >
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!DOCTYPE html>
<html>
<head>
    <style>

        body, html {
            height: 100%;
            margin: 0;
        }

        body {
            background-image: url('../../content/img/bg_room.jpg');
            height: auto;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

